/backend/node_modules
/backend/dist
/backend/.env
/frontend/node_modules
/frontend/dist
/.env
/.env.local
/.env.development
/.env.production
/.env.test
.DS_Store
*.log
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*.pid
*.seed
*.pid.lock